body {
font-family: sans-serif;
background-image: url(luke-chesser-eICUFSeirc0-unsplash.jpg);
background-repeat: no-repeat;
background-size: cover;
color: #fff;
}

div h2 {
  display: flex;
  justify-content: center;
}


.main {  
  width: 40%;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 400px;
}

select {
  font-family: 'Merriweather Sans', sans-serif;
  display: block;
  font-size: 16px;
  color: #222;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  
  box-sizing: border-box;
  margin: 0;
  margin-top: 1em;
  border: 1px none;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
  border-radius: 25px;
}


li,
button,
input {
  font-family: 'Merriweather Sans', sans-serif;
  display: block;
  font-size: 16px;
  color: #222;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  margin-top: 1em;
  border: 1px solid #222;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
}

li,
button {
  cursor: pointer;
  background-color: white;
  color: #222;
  border-radius: 25px;
}

input {
  border-radius: 25px;
}



              
#pop_up {
  width: 40%;
  margin: auto;
  display: none;
}

.pop_up > button {
display: inline;}

